body{
    
   
    height: 100vh;
    background-color:aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    text-align: center;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 30px;
    font-family: roboto;
}


.box{

    height: 300px;
    width: 500px;
    border-radius: 10px;
    background-color:black;
    text-align: center;
    box-shadow:
    0 0 20px rgba(0, 255, 255, 0.7),
    0 0 40px rgba(0, 255, 255, 0.5),   
    0 0 60px rgba(0, 255, 255, 0.3); 
    color: white;
    padding-top: 20px;

}

.btn{
    background-color: white;
    border-color:white;
    border: 1px solid white;
    border-radius: 2px solid white;
    font-weight: bold;
}

ul {
    list-style: none;
    height: 270px;
    overflow-y: auto;
}

ul li {
    display: flex;
    justify-content: space-around;
}

.delete {
    background-color: white;
    border: 1px solid white;
    border-radius: 15%;
    font-weight:bold ;
}

.scroll{
    height: auto;
}

@media(max-width:768px){
    .box{

        height: 170px;
        width: 270px;
        border-radius: 5px;
        background-color: black;
        text-align: center;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
        padding-top: 10px;
        
    }
    h1 {
        margin-bottom: 15px;
        font-size: medium;
    }
    

    .delete {
        background-color: white;
        border: 1px solid white;
        border-radius: 40%;
        font-weight:bold ;
    }
}